<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>按钮按下时改变背景颜色.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1589B891C0D9F730091974F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1589BA21C0D9F730091974F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1589BAD1C0D9F730091974F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
